:root{
    --color: rgb(48, 175, 165);
    --seccolor: black; 
    --defpad: 19px;
    --defop: 1;
}

*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: var(--color);
}

ul{
    display: flex;
}

ul li{
    opacity: var(--defop);
    list-style: none;
    padding: var(--defpad);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

ul li:hover{
    background-color: rgb(199, 197, 114);
    cursor:pointer;
}
